<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
  		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="stylesheet" herf="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>{% block title %}{% endblock %}</title>
</head>
<body> 
<nav class='navbar navbar-expand-lg navbar-light bg-light'>
	<div class="navbar-nav">
		<a class="nav-item nav-link" href="{{url_for('index')}}">Home</a>
		<a class="nav-item nav-link" href="{{url_for('add_pup')}}">Add Pup</a>
		<a class="nav-item nav-link" href="{{url_for('list_pup')}}">List of Pups</a>
		<a class="nav-item nav-link" href="{{url_for('del_pup')}}">Delete Pup</a>
		<a class="nav-item nav-link" href="{{url_for('add_owner')}}">Add Owner</a>
	</div>
</nav>
{% block body %}{% endblock %} 	
</body>
</html>
